@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


* {
    font-family: 'Roboto', system-ui, -apple-system, Roboto, 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-roboto {
    font-family: Roboto;
}

@keyframes slideUpFade {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    20% {
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.animated-word {
    display: inline-block;
    animation: slideUpFade 3s ease-in-out infinite;
}

/* hero slider pagination */
.custom-swiper-pagination {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 20;
}

/* Default bullets */
.swiper-pagination-bullet {
    opacity: 1;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid #ffffff;
}

.custom-swiper-pagination .swiper-pagination-bullet {
    opacity: 0.5;
    width: 6px;
    height: 55px;
    transition: all 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffffff;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 95%;
    width: 100%;
}

@media screen and (max-width: 765px) {
    .custom-swiper-pagination {
        top: 75%;
        transform: translateY(-75%);
    }

    /* .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: 0;
        width: 100%;
    } */
}

/* Hero Background */
.brand-bg {
    background-image: url(/car-handle.png);
    background-color: "#f8f8f8";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}


/* Footer Background */
.footer-bg {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 0, 0, 0.2), rgba(255, 255, 255, 0.1)), url('/footer-bg-car.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    .footer-bg {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 0, 0, 0.2), rgba(255, 255, 255, 0.1)), none;
        background-position: center;
        background-size: cover;
    }
}

/* Setting background */

.setting-bg {
    background-image: url("/setting-bg-img.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%, 40%;
}

/* login img */

.loginBg {
    background-image: url("/login-Img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* in your global CSS */
.custom-dash {
    border-bottom: 1.5px dashed #515151;
    border-image: repeating-linear-gradient(to right,
            #515151 0,
            #515151 4px,
            transparent 4px,
            transparent 8px) 1;
}


.bg-car-handle {
    background-image: url("/car-handle.png");
    background-size: 27% 170%;
    background-repeat: no-repeat;
    background-position: right center;
}

@media screen and (max-width: 475px) {
    .bg-car-handle {
        background-image: url("/car-handle.png");
        background-size: 35% 130%;
        background-repeat: no-repeat;
        background-position: right center;
    }
}



@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease-out;
}

.custom-bg {
    background-image: url("/custom-bg.png");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: center 35%;
}

@media screen and (max-width: 475px) {
    .custom-bg {
        background-image: none;
    }
}


/* 4 cards below location model and below contact-us form*/
.shadow-custom {
    box-shadow: 0px 4px 22.4px 1px rgba(0, 0, 0, 0.05);
}

.custom-shadow {
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.08);
}

/* CarCard shadow */
.card-shadow-custom {
    box-shadow: 0px 2px 4px 0.5px rgba(0, 0, 0, 0.2);

}

/* contact-us form shadow */
.contact-form-shadow {
    box-shadow: 0px 4px 38.3px -1px rgba(0, 0, 0, 0.25);
}

/* buy packages cards shadow */

.packages-cards {
    box-shadow: 0px 1px 19.4px 0px rgba(0, 0, 0, 0.13);

}

@media screen and (max-width: 475px) {
    .shadow-custom {
        box-shadow: 0px 2px 12.4px 1px rgba(0, 0, 0, 0.09);
    }
    .contact-form-shadow {
    box-shadow: 0px 4px 38.3px -1px rgba(0, 0, 0, 0.0);
}
}



/* global.css */
.scrollbar-light {
    scrollbar-width: thin;
    /* Firefox ke liye */
    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
}

.scrollbar-light::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scrollbar-light::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-light::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
}

.scrollbar-light::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.scrollbar-light::-webkit-scrollbar-button {
    display: none;
}


.body-no-scroll {
  overflow: hidden !important;
  pointer-events: none !important;
}

.body-no-scroll * {
  pointer-events: none !important;
}